@import '../../../../styles/vars';

.ListOrganizations {
  //max-width: 840px;
  width: 100%;
  padding: 22px 36px;
  background-color: $color-background-l8;
  border-radius: 10px;

  @media (max-width: 1200px) {
    max-width: 100%;
    padding: 10px;
  }
}
