REACT_APP_SUBDIR = /crm
PUBLIC_URL = https://oragen.ru/crm
REACT_APP_BASE_URL = https://admin3.oragen.ru/api
REACT_APP_BASE_URL_LOCAL = http://127.0.0.1:8000/api
REACT_APP_DADATA_API_KEY =
REACT_APP_ACCESS_KEY_ID =
REACT_APP_SECRET_ACCESS_KEY =
