@import './src/styles/vars';

.ModalAddDrug {
  width: 332px;
  background-color: $color-background-l8;

  &__Header {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    color: $color-primary-l1;
  }

  &__Form {
    .SwitchTitle {
      font-size: 13px;
      font-weight: 600;
      color: $color-secondary-l2;
    }

    .SwitchWrapper {
      margin-top: 20px;
      padding-left: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0 20px;
    }

    .ButtonGroup {
      margin-top: 30px;
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0 20px;

      .ButtonCancel {
        width: 100%;
        background-color: $color-background-l7;
        color: $color-secondary-l2;
      }

      .ButtonCreate {
        width: 100%;
      }
    }
  }
}
