@import './src/styles/vars';

.ListAllVisitsPharmacy {
  width: 100%;
  padding: 20px;
  background-color: $color-background-l8;
  border-radius: 10px;
  border: 1px solid $color-background-l5;

  @media (max-width: 1200px) {
    max-width: none;
  }

  .ListHeader {
    margin-bottom: 10px;
    padding: 12px 20px;
    display: grid;
    //grid-template-columns: 1.5fr 1fr 0.5fr 1.5fr 1fr 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 100px;
    gap: 0 5px;
    background-color: transparent;
    border-radius: 4px;

    &__Item {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      font-weight: 600;
      line-height: 14px;
      color: $color-secondary-l2;

      @media (max-width: 800px) {
        align-items: flex-start;
      }
    }

    &__Item--start {
      //padding-left: 20px;
      justify-content: start;
    }
  }

  .List {
  }
}
