@import './src/styles/vars';

.AgreementPage {
  height: 100vh;
  padding: 15px;
  overflow-y: auto;

  .ListStyle {
    background-color: $color-white-l1;

    .ListItemStyle {
      justify-content: space-between;
      align-items: start;
      gap: 0 10px;
    }

    .CustomCheckBox {
      padding-top: 4px;
    }
  }

  .AcceptButton {
    width: 100px;
    background-color: $color-positive;

    &:disabled {
      background-color: $color-background-l7;
    }
  }

  .CancelButton {
    width: 100px;
    background-color: $color-negative;
  }
}
