@import '../../styles/vars';

.InputForm {
  $this: &;
  width: 100%;
  //max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: start;

  &__Input {
    width: 100%;
    display: block;
    outline: none;
    padding: var(--padding-input, 10px 16px);
    font-size: 12px;
    color: $color-primary-l1;
    background-color: var(--background-input, $color-white-l1);
    border: 1px solid var(--border-color-input, $color-background-l5);
    border-radius: 6px;
    outline: transparent;
    transition: all 0.25s ease;

    &:disabled {
      background-color: $color-background-l7;
    }

    &::placeholder {
      color: $color-tertiary-l3;
    }
  }

  &__Error {
    border: 1px solid $color-negative;
  }

  &__Label {
    display: block;
    margin-bottom: 3px;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: $color-tertiary-l3;
  }

  .TextError {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: $color-negative;
  }
}
