@import './src/styles/vars';

.ListTasks {
  padding: 12px;
  border-radius: 10px;
  background-color: $color-background-l8;

  .List {
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 4px;
      height: 98px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: $color-grey-l6;
      border-radius: 5rem;
    }
  }
}
