@import './src/styles/vars';

.ImgButton {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: $color-accent-primary;
  transition: all 0.3s, transform 0.2s linear;
  cursor: pointer;

  &:hover {
    background-color: $color-accent-hover;
  }

  img {
    //object-fit: cover;
    //border-radius: 6px;
  }
}
