@import './src/styles/vars';

.SearchFormBricks {
  width: 100%;
  max-width: 290px;
  flex-shrink: 0;

  .Form {
    margin-bottom: 20px;
    max-width: 290px;
    padding: 20px 26px;
    background-color: $color-background-l8;
    border-radius: 10px;

    .ButtonReset {
      width: 236px;
      background-color: $color-background-l7;
      color: $color-tertiary-l3;
    }
  }
}
