/* Main */
$color-primary-l1: #000;
$color-secondary-l2: #818c99;
$color-tertiary-l3: #99a2ad;
$color-medium-l4: #bbc1c8;
$color-background-l5: #e1e1e1;
$color-background-l6: #eee;
$color-background-l7: #f2f2f2;
$color-background-l8: #f8f8f8;
$color-background-l9: #ddd;
$color-white-l1: #fff;
$color-white-l9: #f9f9f9;
$color-accent-primary: #deb373;
$color-accent-secondary: #2688eb;
$color-positive: #4bb44b;
$color-negative: #e64646;
$color-black-l2: #15120f;
$color-black-l3: #111111;
$color-grey-l1: #8d8d8d;
$color-grey-l2: #f7f7f7;
$color-grey-l3: #8d8d8d;
$color-grey-l4: #ddd;
$color-grey-l5: #d9d9d9;
$color-grey-l6: #e3e3e3;
$color-grey-l7: #d7d8d9;
$color-accent-hover: #ecc182;
$color-accent-active: #d7ad6f;
$color-text-link: #2d81e0;
$color-visit-done: #73de91;
$color-visit-remained: #de7373;
$color-date-picker: #15120f;
$color-application-planed: #f9c172;
$color-application-rejected: #ff4040;
$color-application-approved: #73deb1;
$color-radio: #225ac8;
$color-stroke-primary: #d7d8d9;
$color-link-l1: #225ac8;

$box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
