@import './src/styles/vars';

.box-shadow {
  box-shadow: $box-shadow;
}

.color-primary-l1 {
  color: $color-primary-l1;
}
.color-secondary-l2 {
  color: $color-secondary-l2;
}
.color-tertiary-l3 {
  color: $color-tertiary-l3;
}
.color-medium-l4 {
  color: $color-medium-l4;
}

.color-background-l5 {
  color: $color-background-l5;
}
.color-background-l6 {
  color: $color-background-l6;
}
.color-background-l7 {
  color: $color-background-l7;
}
.color-background-l8 {
  color: $color-background-l8;
}

.color-white-l1 {
  color: $color-white-l1;
}
.color-white-l9 {
  color: $color-white-l9;
}

.color-accent-primary {
  color: $color-accent-primary;
}
.color-accent-secondary {
  color: $color-accent-secondary;
}

.color-positive {
  color: $color-positive;
}
.color-negative {
  color: $color-negative;
}

.color-black-l2 {
  color: $color-black-l2;
}
.color-black-l3 {
  color: $color-black-l3;
}

.color-grey-l1 {
  color: $color-grey-l1;
}
.color-grey-l2 {
  color: $color-grey-l2;
}
.color-grey-l3 {
  color: $color-grey-l3;
}
.color-grey-l4 {
  color: $color-grey-l4;
}
.color-grey-l5 {
  color: $color-grey-l5;
}
.color-grey-l6 {
  color: $color-grey-l6;
}
.color-grey-l7 {
  color: $color-grey-l7;
}

.color-accent-hover {
  color: $color-accent-hover;
}
.color-accent-active {
  color: $color-accent-active;
}

.color-text-link {
  color: $color-text-link;
}
.color-visit-done {
  color: $color-visit-done;
}
.color-visit-remained {
  color: $color-visit-remained;
}
.color-date-picker {
  color: $color-date-picker;
}
.color-application-planed {
  color: $color-application-planed;
}
.color-application-rejected {
  color: $color-application-rejected;
}
.color-application-approved {
  color: $color-application-approved;
}
.color-radio {
  color: $color-radio;
}
.color-stroke-primary {
  color: $color-stroke-primary;
}
.color-link-l1 {
  color: $color-link-l1;
}

.bg-primary-l1 {
  background: $color-primary-l1;
}
.bg-secondary-l2 {
  background: $color-secondary-l2;
}
.bg-tertiary-l3 {
  background: $color-tertiary-l3;
}
.bg-medium-l4 {
  background: $color-medium-l4;
}

.bg-background-l5 {
  background: $color-background-l5;
}
.bg-background-l6 {
  background: $color-background-l6;
}
.bg-background-l7 {
  background: $color-background-l7;
}
.bg-background-l8 {
  background: $color-background-l8;
}

.bg-white-l1 {
  background: $color-white-l1;
}
.bg-white-l9 {
  background: $color-white-l9;
}

.bg-accent-primary {
  background: $color-accent-primary;
}
.bg-accent-secondary {
  background: $color-accent-secondary;
}
.bg-positive {
  background: $color-positive;
}
.bg-negative {
  background: $color-negative;
}

.bg-black-l2 {
  background: $color-black-l2;
}
.bg-black-l3 {
  background: $color-black-l3;
}

.bg-grey-l1 {
  background: $color-grey-l1;
}
.bg-grey-l2 {
  background: $color-grey-l2;
}
.bg-grey-l3 {
  background: $color-grey-l3;
}
.bg-grey-l4 {
  background: $color-grey-l4;
}
.bg-grey-l5 {
  background: $color-grey-l5;
}
.bg-grey-l6 {
  background: $color-grey-l6;
}
.bg-grey-l7 {
  background: $color-grey-l7;
}

.bg-accent-hover {
  background: $color-accent-hover;
}
.bg-accent-active {
  background: $color-accent-active;
}

.bg-text-link {
  background: $color-text-link;
}
.bg-visit-done {
  background: $color-visit-done;
}
.bg-visit-remained {
  background: $color-visit-remained;
}
.bg-application-rejected {
  background: $color-application-rejected;
}
.bg-date-picker {
  background: $color-date-picker;
}
.bg-application-approved {
  background: $color-application-approved;
}
.bg-application-planed {
  background: $color-application-planed;
}
.bg-radio {
  background: $color-radio;
}
.bg-stroke-primary {
  background: $color-stroke-primary;
}
.bg-link-l1 {
  background: $color-link-l1;
}
