@import './src/styles/vars';

.PresentationFile {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  /* #header-bar {
    display: none;
  }
*/

  #doc-nav-info {
    display: none;
  }

  #pdf-download {
    display: none;
  }

  #react-doc-viewer {
    width: 100%;
    height: 100%;
  }

  .ButtonFinish {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
