@import './src/styles/vars';

.KpiFreeVisitsItem {
  padding: 12px 20px;
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: $color-white-l1;
  border-radius: 6px;

  &:last-child {
    margin-bottom: 0;
  }

  .Cell {
    text-align: center;
  }
}
