@import '../../styles/vars';

.Input {
  $this: &;
  display: flex;
  align-items: center;
  padding: 16px 10px 16px 20px;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  color: #15120f;
  background-color: $color-background-l8;
  border: 1px solid transparent;
  border-radius: 6px;
  outline: transparent;
  transition: all 0.25s ease;

  &:hover {
    background-color: $color-background-l8;
  }

  &::placeholder {
    color: $color-tertiary-l3;
    font-weight: 300;
  }

  &#{$this}__error {
    background-color: red;

    &:hover {
      background-color: #7a0303;
    }
  }
}
