@import './src/styles/vars';

.CustomModalAddSubTask {
  background-color: $color-white-l1 !important;
}

.ModalAddSubTask {
  width: 880px;
  background-color: $color-white-l1;

  &__Header {
    margin-bottom: 13px;
  }

  .ContactsPageForm {
    width: 100%;
    background-color: $color-white-l1;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

    .CustomInput {
      margin-bottom: 10px;

      label {
        font-size: 13px;
      }

      input {
        background-color: $color-background-l8;
        font-size: 13px;
        font-weight: 600;

        &::placeholder {
          font-weight: 400;
        }
      }
    }

    .CustomSelect {
      margin-bottom: 10px;
      font-size: 13px;
      font-weight: 600;

      label {
        font-size: 13px;
        font-weight: 400;
        color: $color-tertiary-l3;
      }

      .custom-select__control {
        font-size: 13px !important;
        background-color: $color-background-l8 !important;
      }

      .custom-select__placeholder {
        font-weight: 400 !important;
      }
    }

    .CustomDatePicker {
      margin-bottom: 10px;
      border-color: $color-background-l5;
      .ant-picker-input {
        input {
          padding: 4px;
        }
      }
      &__hover {
        border-color: $color-background-l5 !important;
      }
    }

    .ant-picker-focused {
      box-shadow: none;
    }
    .ant-picker-status-error {
      border-color: $color-negative !important;
    }

    .Label {
      color: $color-tertiary-l3;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
    }

    .TextAreaWrapper {
      margin-bottom: 10px;

      .InputField {
        width: 100%;
        height: 130px;
        padding: 10px;
        border-radius: 6px;
        border: 1px solid $color-background-l5;
        resize: none;
        outline: none;
        font-size: 13px;
        background-color: $color-background-l8;
      }

      .Error {
        border: 1px solid $color-negative;
      }

      .TextError {
        font-size: 10px;
        font-weight: 400;
        line-height: 14px;
        color: $color-negative;
      }
    }

    .FileUpload {
      width: 100%;

      &__Label {
        display: flex;
        gap: 0 5px;
        margin-bottom: 3px;
        color: $color-secondary-l2;
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;

        .CustomButton {
          padding: 0;
          margin: 0;
          color: $color-accent-primary;
          border: none;
          outline: none;
          background-color: transparent;
          cursor: pointer;
        }
      }

      &__Content {
        margin-bottom: 10px;

        .Dropzone {
          padding: 10px;
          width: 100%;
          min-height: 42px;
          height: auto;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          flex-direction: row-reverse;
          flex-wrap: wrap;
          gap: 0 10px;
          border: 1px dashed $color-secondary-l2;
          border-radius: 6px;
          font-size: 13px;
          font-weight: 400;
          line-height: 18px;
          color: $color-black-l2;

          .UploadedFilesItem {
            display: flex;
            align-items: center;
            gap: 0 5px;
            font-size: 13px;
            font-weight: 600;
            line-height: 18px;
            color: $color-secondary-l2;

            .CustomIconDelete {
              width: 20px;
              height: 20px;
              cursor: pointer;

              svg {
                path {
                  fill: $color-negative;
                }
              }
            }
          }
        }

        .Text {
          color: $color-secondary-l2;
        }
      }

      &__ButtonActions {
        .ButtonClearAll {
          padding: 5px 10px;
          color: $color-white-l1;
          background-color: $color-secondary-l2;
          border: none;
          border-radius: 6px;
          font-size: 12px;
          font-weight: 400;
          cursor: pointer;
        }
      }
    }

    .Buttons {
      margin-top: 20px;
      display: flex;
      gap: 0 10px;

      .ButtonCreate {
      }

      .ButtonCancel {
        background-color: transparent;
        color: $color-secondary-l2;
        border: 1px solid $color-secondary-l2;
      }
    }
  }
}
