@import './src/styles/vars';

.TargetInfoList {
  width: 100%;
  padding: 22px 36px;
  background-color: $color-background-l8;
  border: 1px solid $color-background-l5;
  border-radius: 10px;

  @media (max-width: 1200px) {
    max-width: none;
    padding: 10px;
  }

  .AccordionsWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px 20px;

    .AccordionContent {
      padding: 10px;
      background-color: $color-white-l1;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
      max-height: 500px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 4px;
        height: 98px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: $color-grey-l6;
        border-radius: 5rem;
      }

      .Row {
        padding: 5px;
        margin-bottom: 5px;
        width: 100%;
        background-color: $color-background-l8;
        border-radius: 6px;
        border: 1px solid $color-background-l5;
        font-size: 13px;
        font-weight: 400;
        transition: all 0.2s;

        &:hover {
          background-color: $color-accent-primary;
          color: $color-white-l1;
          border-color: transparent;
        }

        &:last-child {
          margin-bottom: 0;
        }

        span {
          padding: 0 5px;

          &:first-child {
            margin-right: 10px;
            font-weight: 600;
          }
        }
      }
    }
  }

  .RemoveButton {
    background-color: $color-white-l1;
    color: $color-negative;
    border: 1px solid $color-negative;
  }
}
